{% extends 'base.html' %}

{% block title %}
    <title>View Article</title>
{% endblock title %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <div class="mt-5 w-100">
        {{ article.article_body }}
    </div>
    <h3 class="w-100">Comments</h3>
    <div>
        <ul class="comment-block">
        </ul>
        {% if user.is_authenticated %}
            <form method="post" class="m-5 add-comment" action="{% url 'add_comment' %}">
                {% csrf_token %}
                {{ comments_form.comment_body }}
                <input type="hidden" name="article" value="{{ article.id }}">
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            var page = 1

            function UpdateComments(article_id, page) {
                $.ajax('{% url 'view_comment' %}', {
                    type: 'get',
                    data: { 'article_id': {{article.id}}, 'page': page},
                    dataType: 'html',
                    success : function(html) {
                        $(".comment-block").html(html);
                    },
                    error: function() {
                        alert("Error");
                    }
                });
            }

            UpdateComments({{article.id}}, page);

            $(document).on('submit', '.add-comment' , function(e) {
                e.preventDefault();
                let form = $(this);
                $.ajax(form.attr('action'), {
                    type: form.attr('method'),
                    data: form.serialize(),
                    success : function() {
                        UpdateComments({{article.id}}, page);
                        form.trigger('reset');
                    },
                    error: function() {
                        alert("Error");
                    }
                });

            });

            $(document).on('click', '.view-next, .view-prev' , function(e) {
                e.preventDefault();
                page = $(this).attr('page');
                UpdateComments({{article.id}}, page);
            });

            $(document).on('click', '.reply-button' , function(e) {
                e.preventDefault();
                let comment_id = $(this).attr('comment');
                let comment_container = $(".reply-form-" + comment_id);

                if ($(comment_container).is(':empty')){
                    $.ajax('{% url 'add_comment' %}', {
                        type: 'get',
                        data: { 'article_id': {{article.id}}, 'comment_id': comment_id},
                        dataType: 'html',
                        success : function(html) {
                            $(".reply-form-" + comment_id).html(html);
                        },
                        error: function() {
                            alert("Error");
                        }
                    });
                }
                else if ($(comment_container).is(':hidden')){
                    comment_container.show();
                }
                else {
                    comment_container.hide();
                }
            });
        });
    </script>

{% endblock %}
