{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>View Article</title>
{% endblock %}

{% block extra_head %}
    <script type='text/javascript' src="{% static 'article.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <div class="mt-5 w-100">
        {{ article.article_body }}
    </div>
    <h3 class="w-100">Comments</h3>
    <div>
        <ul class="comment-block">
        </ul>
        {% if user.is_authenticated %}
            <form method="post" class="m-5 add-comment" action="{% url 'add_comment' %}">
                {% csrf_token %}
                {{ comments_form.comment_body }}
                <input type="hidden" name="article" value="{{ article.id }}">
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            ArticlePage.init(
                {{article.id}},
                1,
                {'add_comment': '{% url 'add_comment' %}', 'view_comment': '{% url 'view_comment' %}'}
            );
        });
    </script>

{% endblock %}
